{% extends 'base.html.twig' %}

{% block title %}Gedragsregels{% endblock %}

{% block body %}
    <div class="container">
    <h1>Gedragsregels</h1>

    <table class="table">
        <tbody>
            <tr>
{#                <th>Id</th>#}
{#                <td>{{ gedragsregel.id }}</td>#}
            </tr>
            <tr>
                <th>Regels</th>
                <td>{{ gedragsregel.regels }}</td>
            </tr>
        </tbody>
    </table>

        <button style="margin-bottom: 10px" type="button" class="btn btn-info"><a style="text-decoration: none; color: white" href="{{ path('gedragsregels_index') }}">back to list</a></button>

        <button style="margin-bottom: 10px" type="button" class="btn btn-info"><a style="text-decoration: none; color: white" href="{{ path('gedragsregels_edit', {'id': gedragsregel.id}) }}">edit</a></button>

{#    <a href="{{ path('gedragsregels_index') }}">back to list</a>#}

{#    <a href="{{ path('gedragsregels_edit', {'id': gedragsregel.id}) }}">edit</a>#}

    {{ include('gedragsregels/_delete_form.html.twig') }}
    </div>
{% endblock %}
